<body class="css-gradient">
<div class="container">
  <h2>Inbox</h2>
  <% if @messages != nil %>
    <% @messages.each do |message| %>
    <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">From: <%= message.from %></button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"> 
                <!-- <div class="col"> -->
                  <div class="row">
                    <%= message.subject %>
                  <!-- </div> --> 
                </div>
              </h4>
            </div>
            <div class="modal-body">
              <p> <%= message.content %> </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
    <% end %>
  <% end %>
  
</div>
</body>