<link rel="stylesheet" type="text/css" href="https://daks2k3a4ib2z.cloudfront.net/578741431c0e63b1517d03a6/css/kenigbolo-meya-stephen-s-trendy-site.webflow.2dba93c49.css">

<body>
	<div class="centered hero-section w-section cen">
		<div class="w-container" data-ix="new-interaction">
			<h1 class="hero-heading" data-ix="fade-in-bottom-page-loads">SHIP OWNERS</h1>
			<div class="hero-sub" data-ix="fade-in-bottom-page-loads">GET UNLIMITED ACCESS TO THE CARGO MARKETPLACE</div>
			<div data-ix="fade-in-bottom-page-loads">
				<a class="button" href="/ship-owner/new">SIGN UP</a>
				<a class="all-caps hollow-button" href="/ship-owner/login">LOGIN</a>
			</div>
		</div>
	</div>
</body>

<!-- Beginning of Footer -->
<footer>
  <div class="center footer w-section" id="footer">
    <div class="w-container">
      <div class="footer-text">Copyright Shortcut Inc 2016</div>
    </div>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/578741431c0e63b1517d03a6/js/webflow.30539563a.js"></script>
</footer>

<!-- End of footer -->