// Place all the styles related to the Bids controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#clockdiv{
	font-family: sans-serif;
	color: #5bc0de;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #5bc0de;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #eeeeee;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
	color: #fff;
}

h1 {
	text-align: center;
}