<body>
	<div class="centered hero-section w-section cen">
		<div class="w-container" data-ix="new-interaction">
			<h1 class="hero-heading" data-ix="fade-in-bottom-page-loads">SHORTCUT</h1>
			<div class="hero-sub" data-ix="fade-in-bottom-page-loads">DISRUPTING THE SHORT SEA MARKET</div>
			<div data-ix="fade-in-bottom-page-loads">
				<a class="button" href="/cargo-owner">CARGO OWNER</a>
				<a class="all-caps hollow-button" href="/ship-owner">SHIP OWNER</a>
			</div>
		</div>
	</div>

	<div class="section w-section">
		<div class="w-container">
			<div class="section-title-group">
				<h2 class="centered section-heading">what we do</h2>
				<div class="center section-subheading">This is some text inside of a div block.</div>
			</div>

			<div class="w-row">
				<div class="w-col w-col-4">
					<div class="white-box">
						<img class="grid-image" src="http://uploads.webflow.com/578741431c0e63b1517d03a6/578741441c0e63b1517d03f4_feather-15-white.svg">
						<h3>INSTANT NETWORKING</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
					</div>
				</div>

				<div class="w-col w-col-4">
					<div class="white-box">
						<img class="grid-image" src="http://uploads.webflow.com/578741431c0e63b1517d03a6/578741441c0e63b1517d03f5_feather2-17-white.svg" width="210">
						<h3>ROUTE OPTIMIZATION</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
					</div>
				</div>

				<div class="w-col w-col-4">
					<div class="white-box">
						<img class="grid-image" src="http://uploads.webflow.com/578741431c0e63b1517d03a6/578741441c0e63b1517d03f6_feather2-22-white.svg">
						<h3>EXCELLENT MARKETPLACE</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="accent section w-section">
		<div class="w-container">
			<div class="section-title-group">
				<h2 class="centered section-heading white">services</h2>
				<div class="center off-white section-subheading">This is some text inside of a div block.</div>
			</div>
			<div class="w-row">
				<div class="w-col w-col-6">
					<div class="transparent white-box">
						<img class="fullwidth-image" src="http://uploads.webflow.com/578741431c0e63b1517d03a6/578741441c0e63b1517d03f7_city-scape.jpg">
						<h3 class="white-text">CARGO OWNERS</h3>
						<p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.</p>
						<a class="hollow-button" href="#">Learn more</a>
					</div>
				</div>
				<div class="w-col w-col-6">
					<div class="transparent white-box">
						<img class="fullwidth-image" src="http://uploads.webflow.com/578741431c0e63b1517d03a6/578741441c0e63b1517d03f8_photo-1416400639808-f41f0c149b09.jpg">
						<h3 class="white-text">SHIP OWNERS</h3>
						<p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.</p>
						<a class="all-caps hollow-button" href="#">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section w-section">
		<div class="w-container">
			<div class="section-title-group">
				<h2 class="centered section-heading">Tab Section</h2>
				<div class="center section-subheading">This is some text inside of a div block.</div>
			</div>

			<div class="tabs-wrapper w-tabs" data-duration-in="300" data-duration-out="100">
				<div class="tab-menu w-tab-menu">
					<a class="button tab w--current w-inline-block w-tab-link" data-w-tab="Tab 1">
						<div>NORDIC</div>
					</a>

					<a class="button tab w-inline-block w-tab-link" data-w-tab="Tab 2">
						<div>BALTIC</div>
					</a>

					<a class="button tab w-inline-block w-tab-link" data-w-tab="Tab 3">
						<div>SLAVIC</div>
					</a>
				</div>
				<div class="w-tab-content">
					<div class="w--tab-active w-tab-pane" data-w-tab="Tab 1">
						<div>
							<img class="fullwidth-image" src="http://uploads.webflow.com/578741431c0e63b1517d03a6/578741441c0e63b1517d03f9_photo-1422222948315-28aadb7a2cb8.jpg">
							<h2>Some Title Here</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. <br>Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. <br>Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
						</div>
					</div>

					<div class="w-tab-pane" data-w-tab="Tab 2">
						<div>
							<img class="fullwidth-image" src="http://uploads.webflow.com/578741431c0e63b1517d03a6/578741441c0e63b1517d03fa_5fcb0a55.jpg">
							<h2>Heading</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. <br>Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.<br>Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
						</div>
					</div>

					<div class="w-tab-pane" data-w-tab="Tab 3">
						<div>
							<img class="fullwidth-image" src="http://uploads.webflow.com/578741431c0e63b1517d03a6/578741441c0e63b1517d03fb_5cf8b62b.jpg">
							<h2>Heading</h2>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. <br>Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. <br>Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer w-section">
		<div class="w-container">
			<div class="w-row">
				<div class="spc w-col w-col-4">
					<h5>about SHORTCUT</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
				</div>

				<div class="spc w-col w-col-4">
					<h5>useful links</h5>
					<a class="footer-link" href="#">Phasellus gravida semper nisi</a>
					<a class="footer-link" href="#">Suspendisse nisl elit</a>
					<a class="footer-link" href="#">Dellentesque habitant morbi</a>
					<a class="footer-link" href="#">Etiam sollicitudin ipsum</a>
				</div>

				<div class="w-col w-col-4">
					<h5>social</h5>
					<div class="footer-link-wrapper w-clearfix">
						<img class="info-icon" src="http://uploads.webflow.com/578741431c0e63b1517d03a6/578741441c0e63b1517d03c6_social-18.svg" width="20">
						<a class="footer-link with-icon" href="#">Twitter</a>
					</div>

					<div class="footer-link-wrapper w-clearfix">
						<img class="info-icon" src="http://uploads.webflow.com/578741431c0e63b1517d03a6/578741441c0e63b1517d03b5_social-03.svg" width="20">
						<a class="footer-link with-icon" href="#">Facebook</a>
					</div>

					<div class="footer-link-wrapper w-clearfix">
						<img class="info-icon" src="http://uploads.webflow.com/578741431c0e63b1517d03a6/578741441c0e63b1517d03bb_social-11.svg" width="20">
						<a class="footer-link with-icon" href="#">Pinterest</a>
					</div>

					<div class="footer-link-wrapper w-clearfix">
						<img class="info-icon" src="http://uploads.webflow.com/578741431c0e63b1517d03a6/578741441c0e63b1517d03b7_social-06.svg" width="20">
						<a class="footer-link with-icon" href="#">Google</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    <footer>
	    <div class="center footer w-section">
		    <div class="w-container">
		      <div class="footer-text">
		      	<p>Copyright Shortcut Inc 2016</p>
		      </div>
		    </div>
	     </div>
	</footer> 
	
  	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  	<script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/578741431c0e63b1517d03a6/js/webflow.30539563a.js"></script>
</body>

</html>
