<link rel="stylesheet" type="text/css" href="https://daks2k3a4ib2z.cloudfront.net/578741431c0e63b1517d03a6/css/kenigbolo-meya-stephen-s-trendy-site.webflow.2dba93c49.css">

<h4>Shortcut Registration Page</h4>

<p>For Cargo Owners</p>
<%= link_to "Cargo Owners", cargo_owner_path_url %>
<br>
<p>For Ship Owners</p>
<%= link_to "Ship Owner", ship_owner_path_url %>
<br>